.game {
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;

    .cover-container {
        border-radius: 25px;
        background-color: #262626;
        margin-bottom: 20px;
        min-width: 401px;
        height: 565px;

        .blank {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 401px;
            height: 565px;
            font-size: 200px;
        }

        img {
            border-radius: 25px;
            width: 401px;
            height: 565px;
        }
    }

    .info-container {
        border-radius: 25px;
        background-color: #262626;
        padding: 10px;
        margin-bottom: 20px;
        min-height: 545px;
        width: 1349px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .info-small-col {
            display: flex;
            flex-direction: row;

            .col-width {
                width: 50%;
            }
        }

        .info-text {
            margin: 0 20px 15px 20px;
        }

        .info-heading {
            font-size: 20px;
            border-bottom: 1px solid #404040;
        }

        .info-name,
        .info-summary,
        .info-storyline,
        .info-release-date,
        .info-ratings,
        .info-platforms {
            margin-top: 10px;
        }

        .info-name {
            font-size: 34px;
        }

        .info-storyline,
        .info-summary {
            font-size: 16px;
            text-wrap: wrap !important;
        }

        .info-release-date {
            background-color: #161616;
            border-radius: 15px;
            padding: 5px 15px 5px 15px;
            text-wrap: nowrap;
            width: fit-content;
        }

        .info-ratings {
            display: flex;
            flex-wrap: wrap;

            .info-ratings-heading {
                font-size: 18px;
                margin: auto 10px auto 0;

                &.left {
                    margin-left: auto;
                }
            }

            .info-rating {
                background-color: #161616;
                border-radius: 15px;
                padding: 5px 15px 5px 15px;
                text-wrap: nowrap;
                margin-bottom: 5px;

                &.margin {
                    &.right {
                        margin-right: 10px
                    }
                }

                &.amazing {
                    background-color: #06803d;
                }

                &.good {
                    background-color: #00ce7a;
                }

                &.average {
                    background-color: #ffbd3f;
                }

                &.bad {
                    background-color: #ff6874;
                }

                &.awful {
                    background-color: #f11528;
                }
            }
        }

        .info-platforms {
            display: flex;
            flex-wrap: wrap;

            .info-platform {
                background-color: #161616;
                border-radius: 15px;
                padding: 5px 15px 5px 15px;
                text-wrap: nowrap;
                margin: auto 10px 5px 0;
            }

            .info-platform:last-child {
                margin-right: 0;
            }
        }
    }

    .screenshot-container {
        background-color: #262626;
        overflow: hidden;
        padding: 15px 20px 15px 20px;
        width: 555px;
        height: 383px;
        border-radius: 25px;

        .screenshot-text {

            .screenshot-heading {
                font-size: 20px;
                margin-bottom: 10px;
                border-bottom: 1px solid #404040;
            }
        }

        .blank {
            width: 555px;
            height: 382px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .scroll-container {
            overflow-y: hidden;
            overflow-x: auto;
            display: flex;
            width: 555px;
            scroll-snap-type: x mandatory;

            img {
                border-radius: 25px;
                margin-bottom: 15px;
                margin-right: 15px;
                scroll-snap-align: start;
            }

            img:last-child {
                margin-right: 0;
            }
        }
    }

    .bundle-container,
    .addon-container {
        background-color: #262626;
        overflow: hidden;
        padding: 15px 20px 15px 20px;
        width: 236px;
        height: 383px;
        border-radius: 25px;

        .bundle-text,
        .addon-text {

            .bundle-heading,
            .addon-heading {
                font-size: 20px;
                margin-bottom: 10px;
                border-bottom: 1px solid #404040;
            }
        }

        .blank {
            width: 236px;
            height: 337px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .scroll-container {
            overflow-y: hidden;
            overflow-x: auto;
            display: flex;
            width: 236px;
            height: 337px;
            scroll-snap-type: x mandatory;

            img {
                border-radius: 25px;
                margin: 0 15px 15px 0;
                scroll-snap-align: start;
                border: 2px solid transparent;
                cursor: pointer;
            }

            img:hover {
                border-color: white;
            }

            img:last-child {
                margin-right: 0;
            }
        }
    }

    .tone-container {
        background-color: #262626;
        border-radius: 25px;
        height: 373px;
        width: 543px;
        padding: 20px;
        overflow: hidden;

        .scroll-container {
            overflow-y: auto;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 383px;
            width: 543px;

            .tone-text {
                margin: 0 20px 15px 10px;

                .tone-heading {
                    font-size: 20px;
                    border-bottom: 1px solid #404040;
                }

                .tone-genres,
                .tone-themes,
                .tone-contents {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 10px;

                    .tone-genre,
                    .tone-theme,
                    .tone-content {
                        margin-right: 10px;
                        background-color: #161616;
                        border-radius: 15px;
                        padding: 5px 15px 5px 15px;
                        text-wrap: nowrap;
                        margin-bottom: 5px;
                        width: fit-content;
                    }
                }
            }
        }
    }

    .info-container,
    .bundle-container,
    .addon-container,
    .tone-container,
    .screenshot-container {
        ::-webkit-scrollbar-track {
            background: #262626 !important;
        }

        ::-webkit-scrollbar-thumb {
            background: #161616 !important;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #161616 !important;
        }
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 875px) {
    .game {
        .info-container {
            .info-small-col {
                flex-wrap: wrap;

                .col-width {
                    width: 100%;
                }
            }
        }
    }
}