.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0 auto 0;

    .search {
        width: 50%;
        background-color: #262626;
        font-size: small;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        padding: 7.5px 15px 7.5px 15px;

        input {
            border: none !important;
            border-radius: 10px;
            width: 95%;
            background-color: transparent;
            outline: none;
            font-size: large;
            height: 28px;
        }

        i {
            width: 5%;
            margin: auto;
        }
    }

    .search:hover {
        background-color: #363636;
    }
}

@media screen and (max-width: 1000px) {
    .search-bar {
        .search {
            width: 75%;
        }
    }
}