.content {
    margin-top: 70px;
    height: calc(100% - 210px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 30px;

    &.disabled {
        pointer-events: none;
        filter: blur(1px);
    }
}

