#root,
.page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    min-width: 375px;
    min-height: 667px;
}

.background:has(+ .login-container) {
    pointer-events: none !important;
    filter: blur(5px);
}