.trophy-titles {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    .trophy-title {
        background-color: #262626;
        border-radius: 25px;
        cursor: pointer;
        border: 2px solid #161616;
        scroll-snap-align: start;
        margin-bottom: 10px;
        width: 400px;
        max-height: 450px;

        img {
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            width: 400px;
            height: 300px;
        }

        .details {
            padding: 10px 20px 20px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .name {
                margin-bottom: 5px;
                display: flex;
                justify-content: center;
            }

            .trophies {
                display: flex;
                justify-content: space-evenly;


                .platinum,
                .gold,
                .silver,
                .bronze {
                    font-weight: bold;
                }
            }

            .progress {
                padding: 10px;
            }
        }

    }


    .trophy-title:hover {
        border-color: white;
    }
}