.trophy-group {
    background-color: #262626;
    border-radius: 15px;
    display: flex;
    border: 2px solid #161616;
    transition: border-color .5s ease-in-out;
    margin-bottom: 20px;

    .trophy-group-image {
        width: 300px;
        height: 300px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .trophy-group-details {
        padding: 40px;
        width: calc(100% - 400px);
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        text-wrap: nowrap;

        .trophy-group-name {
            display: flex;
            font-size: 30px;
            justify-content: space-between;

            .name-group-id {
                display: flex;
                gap: 20px;
                font-size: 35px;

                .group-id {
                    font-size: 20px;
                    padding: 10.5px 15px 10.5px 15px;
                    background-color: #161616;
                    border-radius: 25px;
                    margin: auto;
                }
            }

            .date {
                font-size: 20px;
                padding: 10.5px 15px 10.5px 15px;
                background-color: #161616;
                border-radius: 25px;
                margin: auto 0 auto 0;
            }

        }

        .trophy-group-progress {
            width: 100%;
        }

        .trophy-group-trophies {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .trophy-group-trophies-platinum,
            .trophy-group-trophies-gold,
            .trophy-group-trophies-silver,
            .trophy-group-trophies-bronze {
                display: flex;
                gap: 10px;

                .trophies-text {
                    font-size: 20px;
                    margin: auto;
                }

                .trophies-icon {
                    width: 50px;
                    height: 50px;
                }
            }

        }

    }

}

.trophies:has(.loader) {
    height: 100%;
}

.trophies {
    gap: 10px;
    display: flex;
    flex-direction: column;

    .empty,
    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .title {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #404040;
        flex-wrap: wrap;

        .name {
            font-size: 30px;
            text-wrap: nowrap;
        }

        .actions-container {
            display: flex;
            gap: 20px;

            &.disabled {
                pointer-events: none;
            }

            .custom-select {
                position: relative;
                width: 160px;
                margin: auto;

                select:disabled {
                    cursor: not-allowed;
                }

                select:not(:disabled):hover {
                    background-color: #363636;
                }

                select:active {
                    border: 1px solid black;
                }
            }

            .custom-select:first-child {
                margin-right: 5px;
            }

            .custom-select:last-child {
                margin-left: 5px;
            }

            .custom-select select {
                appearance: none;
                width: 100%;
                padding: 10px;
                font-size: 18px;
                font-family: inherit;
                background-color: #262626;
                border: 1px solid transparent;
                border-radius: 7.5px;
                cursor: pointer;
                outline: none;
                transition: border-color 0.25s;
            }

            .custom-select::before,
            .custom-select::after {
                --size: 0.3rem;
                position: absolute;
                content: "";
                right: 1rem;
                pointer-events: none;
            }

            .custom-select::before {
                border-left: var(--size) solid transparent;
                border-right: var(--size) solid transparent;
                border-bottom: var(--size) solid white;
                top: 40%;
            }

            .custom-select::after {
                border-left: var(--size) solid transparent;
                border-right: var(--size) solid transparent;
                border-top: var(--size) solid white;
                top: 55%;
            }

            .custom-select:has(select:disabled) {
                cursor: not-allowed;
            }

            .update-button {
                height: inherit;
                background-color: #262626;
                padding: 7.5px 12.5px 7.5px 12.5px;
                font-size: 18px;
                border-color: transparent;
                border-radius: 7.5px;
            }

            .update-button:hover {
                background-color: #363636;
            }

            .update-button:focus,
            .update-button:focus-visible {
                outline: transparent;
            }

            .update-button:active {
                border-color: black;
            }
        }
    }

    .trophy {
        background-color: #262626;
        border-radius: 15px;
        display: flex;
        height: 125px;
        width: 100%;
        border: 2px solid #262626;
        transition: border-color .5s;
        cursor: pointer;
        gap: 20px;

        &.earned {
            opacity: 50%;
        }

        .image {
            width: 125px;
            border-radius: 15px 0 0 15px;
        }

        .details {
            padding: 20px;

            display: flex;
            flex-direction: column !important;
            justify-content: space-between;

            .name,
            .description {
                text-wrap: nowrap;
            }

            .name {
                font-size: 28px;
            }

            .description {
                font-size: 18px;
            }
        }

        .earned,
        .progress {
            display: flex;
            margin: auto 0 auto auto;
            gap: 30px;

            .earned-text,
            .progress-text,
            .progress-value {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: auto 0 auto auto;
                text-wrap: nowrap;
            }

            .progress-value {
                width: 200px;
            }

            .earned-icon {
                font-size: 50px;
            }
        }

        .rarity {
            margin: auto 0 auto auto;
            font-size: 18px;
            text-align: center;
            width: 100px;
            text-wrap: nowrap;
        }

        .type {
            height: 80px;
            width: 80px;
            margin: auto 0 auto 0;
            padding-right: 20px;
        }

        .earned~.rarity,
        .progress~.rarity {
            margin: auto 0 auto 0;
        }
    }

    .trophy:hover {
        border: 2px solid white;
    }
}