.content {
    margin-top: 60px;
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;

    &.disabled {
        pointer-events: none;
        filter: blur(1px);
    }
}

