.search-modal {
    position: fixed;
    height: 600px;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #202020;
    z-index: 999;
    border-radius: 25px;
    padding: 30px;
    overflow: hidden;

    .search {
        padding: 10px 0 10px 30px;
        display: flex;
        flex-direction: row;
        background-color: #262626;
        border-radius: 10px;
        margin-bottom: 20px;

        input {
            border: none !important;
            padding: 15px;
            width: 95%;
            padding: 0;
            outline: none;
            background-color: transparent;
            font-size: x-large;
        }

        .close {
            padding: 7.5px 10px 7.5px 10px;
            margin: auto 20px auto 20px !important;
            cursor: pointer;
            border-radius: 5px;
        }

        .close:hover {
            background-color: #202020;
        }

        i {
            margin: auto 0 auto 0;
        }
    }
}

.results {
    display: flex;
    flex-direction: column;
    height: calc(660px - 148px);
    overflow: auto;

    .result {
        margin-bottom: 20px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        background-color: #262626;
        border-radius: 10px;
        min-height: 40px;
        margin-right: 10px;
    }

    .result:last-child {
        margin-bottom: 0;
    }
}