.top-bar {
    background-color: #181818;
    width: 100%;
    height: 60px;
    z-index: 3;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;

    &.playstation {
        border-bottom: 1px solid #1e5ddb;
    }

    &.xbox {
        border-bottom: 1px solid #018800;

    }

    .top-bar-title {
        margin: auto 0 auto 0;
        font-weight: 500;
        cursor: pointer;
        padding: 5px 10px 5px 10px;
        margin-left: 40px;
        border-radius: 5px;

    }

    .top-bar-title:hover {
        background-color: #282828;
    }

    .top-bar-logo {
        padding-right: 50px;
        display: flex;
        align-items: center;

        .top-bar-icon {
            &.xbox {
                width: 35px;
                height: 35px;
                mix-blend-mode: lighten;
            }

            &.playstation {
                width: 40px;
                height: 40px;
                mix-blend-mode: color;
            }
        }

        .top-bar-text {
            font-weight: 500;
            margin-right: 10px;
        }

        .top-bar-menu {
            margin-left: 40px;
            padding: 7.5px 10px 7.5px 10px;
            margin-top: auto;
            margin-bottom: auto;
            cursor: pointer;
            border-radius: 5px;
        }

        .top-bar-menu:hover {
            background-color: #282828;
        }
    }
}

@media screen and (max-width: 490px) {
    .top-bar {
        .top-bar-title {
            margin-left: 0 !important;
            padding-left: 20px;
        }

        .top-bar-logo {
            padding-right: 20px;

            .top-bar-icon {
                &.xbox {
                    width: 25px;
                    height: 25px;
                }

                &.playstation {
                    width: 30px;
                    height: 30px;
                }
            }

            .top-bar-menu {
                margin-left: 5px !important;
                font-size: smaller;
            }
        }
    }
}