.card {
    width: 300px;
    height: 350px;
    background-color: #262626;
    border-radius: 25px;
    position: relative;
    margin-bottom: 10px;
    margin: 0 5px 10px 5px;
    cursor: pointer;
    border: 2px solid #161616;

    &.blank {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(1);
        animation: pulse 1.5s infinite;
    }

    .card-rating {
        position: absolute;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        right: 10px;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: large;

        &.amazing {
            background-color: #06803d;
        }

        &.good {
            background-color: #00ce7a;
        }

        &.average {
            background-color: #ffbd3f;
        }

        &.bad {
            background-color: #ff6874;
        }

        &.awful {
            background-color: #f11528;
        }
    }

    .card-image-container {
        width: 300px;
        height: 250px;
        position: relative;

        .card-image {
            width: 100%;
            height: 100%;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 150px;
            border-bottom: 1px solid #161616;

            img {
                height: 150px !important;
                width: 150px !important;
                mix-blend-mode: color;
            }
        }


        .card-info-release {
            display: flex;
            bottom: 0;
            right: 0;
            align-items: center;
            position: absolute;
            padding: 0 5px 5px 0;

            .date {
                background-color: #161616;
                border-radius: 15px;
                padding: 5px 15px 5px 15px;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }

    .card-info {
        width: 100%;
        height: 100px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: space-evenly;


        .card-info-title {
            font-weight: 500;
            margin: 0 20px 0 20px;
        }

        .card-info-platforms {
            display: flex;
            bottom: 0;
            align-items: center;
            padding: 10px;

            .platform {
                background-color: #161616;
                border-radius: 15px;
                padding: 5px 15px 5px 15px;
                margin-right: 10px;
            }

            .platform:first-child {
                margin-left: 5px;
            }
        }

    }
}

.card:first-child {
    margin-left: 0;
}

.card:last-child {
    margin-right: 0;
}

.card:hover {
    border-color: white;
    background-color: #363636;

    &.blank {
        border-color: transparent !important;
        background-color: #262626 !important;
    }

    &.blank {
        pointer-events: none;
    }
}

@keyframes pulse {
    50% {
        background-color: #303030;
    }
}