.search {
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    background-color: #262626;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #202020;

    input {
        border: none !important;
        width: 95%;
        padding: 0;
        outline: none;
        background-color: transparent;
        font-size: x-large;
    }

    .close {
        padding: 7.5px 10px 7.5px 10px;
        margin: auto 0 auto 20px !important;
        cursor: pointer;
        border-radius: 5px;
    }

    .close:hover {
        background-color: #202020;
    }

    i {
        margin: auto 0 auto 0;
    }
}