.modal {
    position: fixed;
    min-height: 60px;
    max-height: 600px;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #202020;
    z-index: 999;
    border-radius: 25px;
    padding: 30px;
    overflow: hidden;
    transition: height 1s ease-in-out;
}